body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
p,
blockquote {
  font-size: 0.9em;
  line-height: 1.6em;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container {
  padding: 0.8em 1.2em;
  text-align: center;
}
.logo {
  width: 140px;
}
header {
  display: flex;
  justify-content: space-between;
}
.hide-mobile {
  display: none;
}
.menu {
  width: 25px;
  margin-top: 60%;
}
.server {
  width: 80%;
  margin: 2em auto 2em 25%;
}
h1,
.subhead {
  z-index: 3;
  position: relative;
}
.subhead {
  font-size: 1.2em;
}
h1 {
  font-size: 2em;
}
.blue-container {
  width: 100%;
  background: #00c2ff;
  color: #fff;
  margin-top: 15%;
  padding: 4em 0 2em;
  border-top-left-radius: 40px;
  transform: skewY(-2deg);
}
.blue-container::before {
  content: "";
  height: 40px;
  width: 40px;
  background: #00c2ff;
  position: absolute;
  top: -39px;
  right: 0;
}
.blue-container::after {
  content: "";
  height: 80px;
  width: 80px;
  background: #fff;
  position: absolute;
  top: -80px;
  right: 0;
  border-radius: 50%;
}
.blue-container ul {
  transform: skewY(2deg);
}
.blue-container ul li {
  margin: 2em 0;
}
.blue-container ul li p {
  padding: 0 1em;
}
.blue-container img {
  width: 20%;
}
.blue-container ul li:nth-child(3) img {
  width: 12%;
}

.gray-container {
  background: #f6f6f6;
  margin-top: -3%;
  padding: 4em 0 2em;
}
.gray-container ul :first-child {
  margin-bottom: 2em;
}
figure {
  margin: 0;
  padding: 0;
}
figcaption {
  color: #00c2ff;
  font-weight: bold;
}
h2 {
  margin-top: 10%;
  font-weight: 400;
}

.atc {
  background: #00cc80;
  width: calc(100%-1em);
  display: block;
  color: #fff;
  border-radius: 3rem;
  padding: 0.5em 0;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.5em;
  margin: 3% auto 7%;
  position: relative;
  z-index: 4;
}

.footer-container {
  background: #3d444a;
  width: 100%;
  color: #fff;
  padding: 3em 0;
  border-top-right-radius: 40px;
  transform: skewY(2deg);
}
.footer-container::before {
  content: "";
  width: 40px;
  height: 40px;
  background: #3d444a;
  position: absolute;
  top: -39px;
  left: 0;
  z-index: -4;
}
.footer-container::after {
  content: "";
  height: 80px;
  width: 80px;
  background: #fff;
  z-index: -3;
  border-radius: 50%;
  position: absolute;
  top: -80px;
  left: 0;
}

.footer-container .container {
  transform: skewY(-2deg);
}

.footer-links {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.footer-links a {
  text-decoration: none;
  color: #9d9d9d;
}
nav ul {
  position: fixed;
  top: -10px;
  right: 0;
  width: 50%;
  background: rgb(36, 41, 44);
  height: 20%;
  z-index: 10;
  margin-top: 1.6em;
  padding-top: 1em;
  padding-bottom: 7em;
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
  background: rgb(52, 59, 63);
  display: block;
  width: 100%;
  margin: 0.5em 0;
  font-weight: 600;
  padding: 0.8em 0;
}
nav ul li a:hover {
  background: rgb(59, 74, 83);
}
.exit-btn {
  text-align: right;
}
.exit-btn img {
  padding: 0 1.2em;
  cursor: pointer;
}

@media only screen and (min-width: 650px) {
  .server {
    width: 50%;
  }
  h1 {
    font-size: 3em;
    margin: 0;
  }
  .subhead {
    font-size: 1.4em;
    margin-bottom: 12%;
  }
  .blue-container {
    margin: 0;
    display: flex;
    padding: 6em 0;
    justify-content: space-between;
  }
  .blue-container img {
    width: 20%;
    padding-bottom: 2em;
  }

  .blue-container ul li:nth-child(3) img {
    width: 12%;
    margin-top: -3.5%;
  }
  .blue-container ul {
    display: flex;
    justify-content: space-between;
  }

  .gray-container ul {
    padding-top: 2em;
    display: flex;
    justify-content: space-between;
  }
  nav ul {
    width: 30%;
  }
}

@media only screen and (min-width: 875px) {
  .subhead {
    margin-bottom: 15%;
  }

  .blue-container ul {
    margin: 0 0 4% 0;
  }
  .blue-container ul li {
    padding: 0 30px;
    font-size: 1.3em;
  }

  .gray-container ul {
    margin: 4% 0 0;
  }
}

@media only screen and (min-width: 1024px) {
  header .logo {
    margin-top: -80px;
  }
  .atc {
    width: 50%;
  }
  .container {
    width: 80%;
    margin: 0 auto;
  }
  .show-desktop {
    display: block;
    margin: 0 auto 13% auto;
  }
  .hide-desktop {
    display: none;
  }
  nav ul {
    position: inherit;
    width: auto;
    background: none;
    height: auto;
    display: flex;
    padding-top: 0;
  }
  nav ul li {
    float: left;
    padding: 0 2em;
    transition: transform 0.5s;
  }
  nav ul li a {
    color: black;
    background: inherit;
    text-align: right;
  }
  nav ul li:hover {
    background-color: #00c2ff;
    border-radius: 3rem;
    transform: scale(1.1);
  }
  nav ul li a:hover {
    background-color: inherit;
  }
  .scroll {
    width: 30px;
    animation: move 1.5s infinite alternate;
  }
  @keyframes move {
    0% {
      transform: translateY(0px);
    }

    100% {
      transform: translateY(-130px);
    }
  }
  section {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1500px) {
  .server {
    width: 50%;
    margin: 2em auto 4em 15%;
  }
  .container {
    width: 70%;
  }

  .blue-container ul li p,
  blockquote {
    font-size: 1em;
  }
  .gray-cntainer {
    padding: 6em 0 4em;
  }

  .blue-container img {
    width: 15%;
  }
  .blue-container ul list-style:nth-child(3) img {
    width: 8%;
    margin-top: -4px;
  }
  header {
    padding-bottom: 0;
  }
}
